h1{
    text-align: center;
}

p {
    text-align: center;
}

ol li:hover{
    background-color: blue;
    
}

ol li:active{
    font-family: monospace;
}

ol{
    list-style: none;
}

ul{
    list-style: none;
}